<div class="margin40"></div>
<div class="row">
 
     <div class="large-8 columns">


      <h2>All Posts<span><a class="button tiny radius right add" href="add.html">Add a Post</a></span></h2><hr>
        <table>
  <thead>
    <tr>
      <th width="150">Date</th>
      <th>Title</th>
      <th width="100">Author</th>
      <th width="300">Post</th>

    </tr>
  </thead>
  <tbody>

    <% @posts.each do |post| %>
    <tr>
      <td><%= post.created_at %></td>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%=  post.author %></td>
      <td><%= truncate(post.content, :length =>50) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
 

<div class="sidebar large-4 columns">
  <h2>&nbsp</h2><hr>
  

    <div class="row">
      <h4 class="text-right">New!</h4>
        <div class="blog large-12 columns">
           
           <ul class="example-orbit-content" data-orbit data-options="pause_on_hover:true;animation_speed:500; navigation_arrows:true;bullets:false;">

            <li data-orbit-slide="headline-1">
              <div>
                   <h2>Headline 1</h2>
                    <h3>Subheadline1</h3>

                    <h6 class="subheader">
                      Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
                    </h6>  
               <a data-reveal-id="myModal" class="button tiny right radius" href="post.html">Read More</a><br>         
              </div>
            </li>

            <li data-orbit-slide="headline-1">
              <div>
                   <h2>Headline 1</h2>
                    <h3>Subheadline1</h3>

                    <h6 class="subheader">
                      Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
                    </h6>  
               <a data-reveal-id="myModal" class="button tiny right secondary radius" href="#">Read More</a><br>         
              </div>
            </li>

            <li data-orbit-slide="headline-1">
              <div>
                   <h2>Headline 1</h2>
                    <h3>Subheadline1</h3>

                    <h6 class="subheader">
                      Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
                    </h6>  
               <a data-reveal-id="myModal" class="button tiny right radius" href="#">Read More</a><br>         
              </div>
            </li>

          </ul>

        </div>

    </div><!-- row --><br>


<hr>

 <div class="row">

        <div class="newsletter large-12 columns">
          <h4>Sign Up to our Newsletter</h4>
          <div class="panel callout">
         
           <form>
            <div class="row">
              <div class="large-12 columns">
                <label>Email
                  <input type="text" placeholder="enter email" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">    
                  <input type="submit" class="button tiny right radius"/>   
              </div>
            </div>

          </form>
          </div>
        </div>  
      </div>

    </div><!-- row -->
  
  </div><!--sidebar-->

</div><!-- row -->


<footer class="text-center">
  <hr>
  <small>&copy; 2014 - All Right Reserved</small>

</footer>
