
<div class="row">
<div class="margin20"></div>

	<div class="medium-6 medium-offset-3 columns">
	<%= link_to 'Back', posts_path, class: 'button radius tiny' %>
		<h1>New post</h1>

		<%= render 'form' %>


	</div>
</div>
