/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Layout variables*/
 $margin: 10px;

a.button {
  color: #fff;
}
 section {
 	margin: 0
 }

.margin10 {
	margin-top: $margin;
 }
.margin20 {
	margin-top: $margin +10px;
}
.margin40 {
	margin-top: $margin +30px;
}

/* === Blog ===*/ 
.example-orbit-content {
  background: #2BA6CB;
}

.blog .panel {
  margin:0;
  padding:0;
  position: relative;
}


  /*to make the slider inherit the parent div's(the panel and the orbit-container) height*/
  .blog .orbit-container ul, 
  .blog .orbit-container li {

     height: 320px;

  }

    .blog .orbit-container li {
      padding: 10% 10% 0 10%;
  
      &:nth-child(odd){
      /*different background color for every other featured blog post*/
       background: #dedede;
         
      }
    }

      /*customization of the components*/
      .orbit-container .orbit-slide-number {
      color: #333333;

      }
        .orbit-container .orbit-next span{ 
        border-left-style: #333333;
        border-left-color: #333333;
        }

        .orbit-container .orbit-prev span {
        border-right-style: #333333;
        border-right-color: #333333;
        }

.indent {
  margin-left: 30px;
}

.post {
  position: relative;
}

.links {
  position: absolute;
  top: 20px;
}

.add {
  margin-top: 17.64px;
}

#panel_contact {
  background: #F5F5F5;
  display: none;
  padding: 2% 0;
}

#panel_signup {
  background: #F5F5F5;
  display: none;
  padding: 4% 0;
}

form i {
  position: absolute;
  top:32.55814%;
  color: #666;
  font-size: 20px;
  left: 5%;
  z-index: 9999;

}


#panel_contact form input[type="text"], 
#panel_signup form input[type="text"], 
form input[type="email"],
form input[type="password"]{
  position: relative;
  padding: 0 0 0 6%;
}

#review_form {
  background: #eee;
  padding: 4%;
  display: none;
}

.alert-box.alert_review {
  display: none;
}

