// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$cloud: #fff;

#reviews {
	padding: 4% 3%;
	background:$cloud;
}

.search {
	margin-top: 2px;
}