<div id="contact_us" class="reveal-modal medium" data-reveal>

    <div class="row">
        <div class="large-6">
          <h2>Contact Us</h2>
        </div>
    </div><br>

     <form>
        <div class="row">
          <div class="large-6 columns input">
            <label><i class="fi-torso"></i> Name
              <input type="text" placeholder="Name" class="radius"/>
            </label>
          </div>
        
          <div class="large-6 columns input">
            <label><i class="fi-mail"></i>Email
              <input type="email" placeholder="Email" class="radius" />
            </label>
          </div>
        </div>

         <div class="row">
          <div class="large-12 columns input">
          <label>Message
            <textarea rows="6"></textarea>
          </label>
        </div>
         </div>

          <div class="row">
            <div class="large-12 columns">
             <input type="submit" value="Send!" class="button secondary tiny radius right"/>
            </div>
          </div>

          </form>
    <a class="close-reveal-modal">&#215;</a>
    </div>

   